/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

section {
    margin: 1%
}

.box-2 {
    float: left;
    width: 64.66%;
    
}

.box-3 {
    float: left;
    width: 31.33%;
    
}

.box-4 {
    float: left;
    width: 31.33%;
    
}

.box-5 {
    float: left;
    width: 31.33%;
    
}

.box-6 {
    float: right;
    width: 31.33%;
    
}