/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.col-1{
  width: 66%;
  float: left;
  margin-right: 2%;
  height: 620px;
}

.col-2{
  width: 32%;
  float: left;
  margin-right: 0%;
  height: 620px;
}

.col-3{
  width: 32%;
  float: left;
  margin-right: 2%;
  margin-top: 2%;
}

.col-4{
  width: 32%;
  float: left;
  margin-right: 0%;
  margin-top: 2%;
}

.col-5{
  width: 32%;
  float: left;
  margin-left: 1%;
}
