/********** Fixes **********/

* {
  
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;

}

.col-1 {
  float: left;
  width: 32%;
  position: relative;


}

.col-2 {
  float: left;
  width: 66%;
  position: relative;
}

.col-3 {
width: 100%;

}

[class*="col-"] {
margin-left: 2%;
margin-bottom: 0%;
}

.first {
  margin-left: 0%;

}

/* Posititoning Classes 
Write the necessary CSS in the css/layout.css file to create classes 
for the different possible columns to make up a three column grid. 
One column should take up one-third, another two-thirds, and another 
all three-thirds. Make use of clearfix and clear to avoid issues.

Featured Brands -  2/3
Shoe Archice - 1/3
Deals - All 3/3 of it underneath others. 

*/


