/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#main-content {
  width: 75%;
}

h2.milk_text {
  margin-top: 2%;
}

.col-wrapper {
  height: 600px;
}
.col-1 {
  height: 36.5em;
  width: 66%;
  float: left;
}

.col-2 {
  width: 32%;
  height: 36.5em;
  float: right;
}

.row {
  display: inline;
}

section.promo-1 {
  width: 32%;
  float: left;
  margin-right: 2%;
}

section.promo-2 {
  width: 32%;
  float: left;
}

section.promo-3 {
  width: 32%;
  float: right;
  margin-left: 2%;
}

div.details {
  width: 78%;
}

.info-1 {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.info-2 {
  width: 32%;
  float: left;
}

.info-3 {
  width: 32%;
  float: right;
  margin-left: 2%;
}
