/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

  .col1 {
    float: left;
    width: 65.666%;
  }

  .col2 {
    float: left;
    width: 31.333%;
    margin-top: 2%;
    margin-left: 1%; 
  }

  .col3 {
    float: left;
    width: 100%;
  }

  .leftcol {
    margin-left: 0;
  }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


