/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  float: right;
  width: 32.1%;
  margin-top: 1%;
  margin-right: 1%;
}

.col-2 {
  float: left;
  width: 65.8%;
  margin-top: 1%;
  margin-right: 1%;
}



.first {
  margin-left: 0%;
}



