/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* Posititoning Classes */
.clear {
    clear: both;
    margin-bottom: 2%;
  }

  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

  [class*="col-"] {
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .first {
    margin-left: 0;
    clear: both;
  }

  .col-4 {
    float: left;
    width: 32%;
    margin-bottom: 2%;
  }

  .col-8 {
    float: left;
    width: 66%;
    margin-bottom: 2%;
  }
