/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



/* Posititoning Classes */
.wrapper {
  width: 960px;
  margin: 0 auto;
}


.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3{

}

[class *="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}
/*Sections*/

section {
  margin-bottom: 20px;

}
