/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  width: 98%;
  margin-bottom: 2%;
}

.col-2 {
  margin: 2% 2% 0% 0;
  width: 64.666%;
  float: left;
  padding-top: 26px;
}

.col-3 {
  margin: 2% 2% 0 0;
  float: left;
  width: 31.333%;
}
