/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

/* FEATURED BRANDS */

section .first {
  margin-left: 0; 
}

#feature-background {
  background: none; 
  padding-bottom: 10px; 
 
}


/* REMEMBER - 

Each column is represented as follows:

column 1 = 32% (this is used for the smallest column)
column 2 = column 1 + column 2 + margins or 66%
column 3 = 100% (column 1 + column 2 + column 3) 

*/ 

.wrapper {
	width: 960px; 
	margin: 0 auto; 
}

.col-1 {
  float: left; 
  width: 32%;  
 margin-left: 0; 
} 

/* SHOE ARCHIVE */ 

.col-2 {
  float: left;
  width: 66%; 
  margin-left: 0; 
}

[class*= "col-"] {
  margin: 2%; 
}

/* LADYBUGS, SKATERS, BLUESTAR HEELS */ 

.col-3 {
   width: 100%; 
   padding-top: 2%; 
}


/* CONTACT DETAILS */ 


