/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#deals{
  margin-top: 20px;
}
.col-2{
  float: left;
  width: 66%;
}

.col-3{
  float: left;
  width: 32%;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}
