/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

/* needed to add ids to everthing under featured brands because everything class is shadow */
<<<<<<< HEAD
/* IN IDE YOU CAN EDIT CSS and HTML AND SAVE WHILE A WINDOW IS OPEN AND IT WILL AUTOMATICALLY CHANGE WHILE HTTPSERVER IS RUNNING */
/* WORKS BETTER WITH 2 MONITORS */

section {
  padding: 5px;
  margin: 1%;
}

#SummerGrass {
  float: left;
  width: 64.333%;
=======



#SummerGrass {
  float: left;
  width: 62.666%;
>>>>>>> 71b5ff8dfe393d0292c87ed18d1e648828b25743
}

#ShoeArchive {
 overflow: hidden;
 float: left;
 width: 31.333%;
}

#LadyBugs {
 float: left;
 width: 31.333%;
}

#Skaters {
 float: left;
 width: 31.333%;
}

#BlueStar {
 float: left;
 width: 31.333%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
