/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  width: 32%;
  float: left;
  margin-bottom: 2%;
}

.col-2 {
  width: 66%;
  float: left;
  margin-bottom: 2%;
}

.col-3 {
  margin: 10px auto;
  float: left;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}
