/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.column-left-large{
  float:left;
  width: 66%;
  margin-right: 2%;
  margin-bottom: 2%;
}
/*.column-small-right{
  float:right;
  width: 32.6%;
  margin-bottom: 2%;
}*/
.column-left{
  float: left;
  width: 32%;
}
.column-right{
  float: right;
  width: 32%;
  margin-bottom: 2%;
}
.column-center{
   display: inline-block;
   margin-left: 2%;
   margin-right: 2%;
   width: 32%;
 }
