/********** Fixes **********/

* {
  margin:20;
  padding:10;
  border:15;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 100;
  line-height: 90;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
