/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

body {
  min-width: 960px;
  max-width: 1080px;
}

#wood > .wrapper, #logo > .wrapper, #details > .wrapper {
  width: 75%;
}

.col-1 {
  float: left;
  width: 32%
}

.col-2 {
  float: left;
  width: 66%
}

.col-3 {

}

.row-1 {
  height: 500px;
}

[class*="col-"] {
  margin-left: 2%;
}

[class*="row-"] {
  margin-bottom: 2%;
}

.first {
  margin-left: 0;
}

.scroll {
  overflow: auto;
}
