/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 { /*2/3 of page width*/
  /*margin: 1%;*/
  float: left;
  width: 65.333%;
  margin-right: 2%;
}

.col-2 { /*1/3 of page width left side*/
  float: left;
  width: 31.666%;
  margin-right:2%;
}

.col-3 { /*1/3 of page width right side*/
  float: left;
  width: 31.666%;
  /*margin-left:1%;*/
}
