/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

/*LAYOUT FOR COLUMNS*/

[class*=col-] {
  margin-left: 2%;
  margin-bottom: 2%;
}

.first {
  margin-left: 0;
}

.col-1 {
  float: left;
  width: 32%; /* 1/3 of cols with 1%margin */
}

.col-2 {
  float: left;
  width: 66%; /* 2/3 of cols with 1%margin */
}
