/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#sale {
  margin: 0 0 20px 0;

}

#featured {
  width: 66%;
  float: left;
  margin: 0 ;
}

#archive.shadow {
  width: 32%;
  float: right;
  margin: 0 0 0 2%;
  padding-bottom: 10px;
}

div .clear {
  display: inline-block;
}

.deals {
  width: 32%;
  margin: 20px 2% 0 0;
  display: inline-block;
  
}

.deals figure, .deals h3, .deals p {
  display: inline-block;
}

.deals figure > * {
  display: inline-block;
}

#last-deal {
  margin: 20px 0 0 0;
}