/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  width: 32%;
  display: block;
  margin: 2px;
}

.col-2 {
  width: 66%;
  display: block;
  margin: 2px;
}

.col-3 {
  width: 98%;
  display: block;
  margin: 2px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#details .col-1 {
  display: inline-block;
}
