/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#summer_grass {float: left;
        width: 64.66%}
#archive {float: left;
        width: 31.33%}

#lady-bugs {float: left;
        width: 31.33%}
#skaters {float: left;
    width: 31.33%}
#bluestar {float: left;
        width: 31.33%}
