/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1{
  float: left;
  width: 32%;
}

.col-2{
  float: left;
  width: 66%;
}

.col-3{

}

[class*="col-"]{
margin-left:2%;
}

.first{
  margin-left: 0%
}

section{
  margin-bottom: 2%;
  padding: 2%;
}
