/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: "Where am I";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#logo {
	float: none;
}

.div-1 {
	width: 66.5%;
	background-color: white;
	border: 3px solid green;
	position: relative;
	
}
.div-2 {
	width: 50%;
	position: relative;
	left: 100%;
	margin-right: 0;
	
	background-color: green;
	
}

.col-1 {
	float: left;
	width: 202%;
	margin-right: -200%;
	position: relative;
	left: -200%;
	border: 3px solid red;
	
}

.col-2 {
}


.not-first {
	margin-left: 10%;
}
