/********** Fixes **********/

* {
  margin:0px;
  padding:0px;
  border:0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
/*done*/
/*.wrapper{
  width: 960px;
  margin: 0 auto;
}*/

.col-1{
  float:left;
  width: 100%;
  background: transparent;
  padding: 0;
  margin-bottom: 1.5%;
}

.col-2{
  float:left;
  width: 65.66%;
  margin-right: 1.5%;
  height: 100%;
}

.col-3{
  float:left;
  width: 31.33%;
  margin: 0% 1.5% 0% 1.5%;
  height: 100%;
}


.col-3:first-child {
  margin-left: 0%;
}

.col-3:last-child {
  margin-right: 0%;
}

/*[class*="col-"]{
    margin-left: 0%
  }

.first{
  margin-left: 0%
}*/
