/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#spotlight {
  width: 66%;
}

.feature {
  width: 30%;
  display: inline;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  float: right;
  float: left;
  clear: none;
  margin: auto;
  justify-content: center;
}
