.col-1 {
    float: left;
    width: 66%;
    height: 589px;
}

.col-2 {
    float: right;
    width: 32%;
}

.col-3 {
    float: left;
    width: 32%;
    margin-right: 20px;
}

.col-4 {
    display: inline-block;
    width: 32%;
}

.col-5 {
    float: right;
    width: 32%;
}

.col-6 {
    float: left;
    width: 32%;
    margin-right: 20px;
}

.col-7 {
    display: inline-block;
    width: 32%;
}

.col-8 {
    float: right;
    width: 32%;
}

#second-section {
    margin-top: 20px;
}

<<<<<<< HEAD
=======
#first-section {
}
>>>>>>> bc3e65de2ab95beebd4838c9b0e96dff8596fec6
